.search__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 30px;
}    

.filter__label {
    display: inline-block;
    cursor: pointer;
    width: 36px;
    height: 20px;

}

.search__films {
  margin: 0 0 0 12px;
  padding-right: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}


.filter__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}

.filter__slider {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    padding-left: 49px;
    cursor: pointer;
    transition: 0.2s;
}

.filter__slider:hover {
    opacity: 0.7;
}

.filter__slider::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 36px;
    height: 20px;
    background-color: #343434;
    border-radius: 20px;
    transition: 0.2s;
}

.filter__slider::after {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #A0A0A0;
    border: 1px solid #fff;
    right: 28px;
    bottom: -4px;
    transition: 0.2s;
}

.filter__checkbox:checked + .filter__slider::before {
    background-color: #343434;
}

.filter__checkbox:checked + .filter__slider::after {
    background-color: #2BE080;
    left: 18px;
}

@media screen and (max-width: 896px) {
    .search__filter {
        padding: 36px;
    }

    .search__films {
        margin: 0;
      }
      
}

@media screen and (max-width: 564px) {
    .search__filter {
        padding: 45px 10px 42px 10px;
    }

    .filter__slider {
        font-size: 11px;
        line-height: 164%;
    }

    .search__films {
        font-size: 11px;
        font-style: normal;
      }

}

